# compiled output
/dist/
/tmp/

# dependencies
yarn.lock

# misc
/.env*
/.eslintignore
/.template-lintrc.js
/bower.json
/tests
/tmp
**/.gitkeep
.bowerrc
.editorconfig
.ember-cli.js
.eslintrc.js
.gitignore
.watchmanconfig
.travis.yml
ember-cli-build.js
testem.js

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
/config/ember-try.js
/config/addon-docs.js
