<DocsDemo as |demo|>
  <demo.example @name="demo-using-functional-component.hbs">
    <ArrowFunctionComponent @name="This is the yielded function name">
      <p>This is yielded into the React children</p>
    </ArrowFunctionComponent>
  </demo.example>

  {{demo.snippet 'functional-component.js' label='component.js'}}
  {{demo.snippet 'demo-using-functional-component.hbs'}}
</DocsDemo>
