{{#docs-demo as |demo|}}
  {{#demo.example name='demo-yield-children.hbs'}}
    {{#yield-to-children}}
      <p>This is yielded into the React children</p>
    {{/yield-to-children}}
  {{/demo.example}}

  {{demo.snippet 'yield-to-children.js' label='yield-to-children.js'}}
  {{demo.snippet 'demo-yield-children.hbs'}}
{{/docs-demo}}

