<DocsDemo as |demo|>
  <demo.example @name="demo-yield-children.hbs">
    <YieldToChildren>
      <p>This is yielded into the React children</p>
    </YieldToChildren>
  </demo.example>

  {{demo.snippet 'yield-to-children.js' label='yield-to-children.js'}}
  {{demo.snippet 'demo-yield-children.hbs'}}
</DocsDemo>

